@import "./reset.scss";
@import "./global.scss";
// @import "./themes/dark.scss";
// @import "./themes/light.scss";

.app {
  font-family: var(--font-family-main);
  font-size: var(--font-size-l);
  min-height: 100vh;
}

/* The rest of the CSS file */
body {
  background-color: var(--main-bg-color);
}
