.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  width: var(--side-bar-width);
  background-color: var(--side-bar-bg);
  transition: width 0.3s;
}

.sidebarCollapsed {
  width: var(--side-bar-width-collapsed);
}
